<div class="w-100 h-100 bg-danger position-relative">
	<div cdkDropList
		class="position-absolute top-0 start-0 spell-grid"
		id="available-spells"
		[cdkDropListData]="spells"
		[cdkDropListConnectedTo]="['player-spells']"
		(cdkDropListDropped)="drop($event)">
		<div *ngFor="let spell of spells" [cdkDragData]="spell" cdkDrag><img [src]="spell.icon.iconName" alt=""></div>
	</div>

	<div class="position-absolute top-50 start-50 translate-middle">
		<div class="row justify-content-start">
			<div class="col-4 no-gutters" cdkDropList (cdkDropListDropped)="drop($event)">
				<div id="big-circle" class="circle big" cdkDropList
					id="player-spells"
					[cdkDropListData]="currentSpells"
					[cdkDropListConnectedTo]="['available-spells']"
					(cdkDropListDropped)="drop($event)">
					<div class="circle" *ngFor="let spell of currentSpells" [cdkDragData]="spell" cdkDrag><img [src]="spell.icon.iconName"></div>
				</div>
				<div class="circle-outline"></div>
			</div>
		</div>
	</div>
</div>
