<div class="w-100 h-100 bg-danger position-relative">
	<div class="position-absolute top-50 start-50 translate-middle">
		<div class="row justify-content-start">
			<div class="col-4 no-gutters">
				<div id="big-circle" class="circle big">
					<div class="circle one"></div>
					<div class="circle two"></div>
					<div class="circle three"></div>
					<div class="circle four"></div>
					<div class="circle five"></div>
					<div class="circle six"></div>
					<div class="circle seven"></div>
					<div class="circle eight"></div>
				</div>
				<div class="circle-outline"></div>
			</div>
		</div>
	</div>
</div>
