
.text {
    text-align: center;
    color: gray;
    font-family:fantasy;
   padding: 220px;
   margin-left: 29%;
   z-index: 1;
position: absolute;
  }
.table{
 height: 100%;
 width: 100%;
 z-index: -1;
 transform:translate(0%,-100%);
 position: relative;
}
.h-100{
   
 z-index: 0;
 position: relative;
}
 

.bg-depth {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px; 
    -webkit-box-shadow: 0 0 30px 20px rgba(0, 0, 0, 1);
    box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.9);
  }