<div class="container-fluid h-100 px-3">
 
    <div class="h-100"style=" background-image: url(../../../../assets/Scroll.png); background-repeat: no-repeat; background-position: 50% 0%;">
      <div class="text" *ngFor="let DirectPlayerResponse of Players">
        <p>Username: {{DirectPlayerResponse.playerName}}</p>
        <p>Exp: {{DirectPlayerResponse.experiencePoints}}</p>
        <p>Hp: {{DirectPlayerResponse.maxHealth}}</p>
        <p>Mana: {{DirectPlayerResponse.maxMana}}</p>
        <p>KnowledgePoints: {{DirectPlayerResponse.knowledgePoints}}</p>
        <p>Time Played: {{DirectPlayerResponse.TimePlayed}}</p>
      </div>
  </div>
  <div class="table"style="background-image: url(../../../../assets/wood-texture-wood-planks-background-and-old-wood-free-photo.png); background-repeat: no-repeat;"></div>
  