/* You can add global styles to this file, and also import other style files */
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-position: center;
	overflow: hidden;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.outline-0 {
	outline: none!important;
}

.cursor-pointer {
	cursor: pointer;
}

/* BACKGROUNDS & BORDERS */
/*#region backgroundRegion */

.dark-border-color {
	border-color: #202c38!important;
}

.dark-background-1 {
	background-color: #071220
}

.dark-background-2 {
	background-color: #080e1c
}
/*#endregion */

/* PLAYER STATUS */
/*#region StatusRegion*/

.online-status {
	color: #00e200;
	filter: drop-shadow(0px 0px 4px #00e200);
}

.away-status {
	color:  #fad800;
	filter: drop-shadow(0px 0px 4px #fad800);
}

.offline-status {
	color: #434b4e ;
}

/*#endregion */

/* MAT OVERLAYS */
/*#region overlayRegion */
mat-dialog-container {
	padding: none!important;
}

.mat-dialog-container {
	padding: 0px!important;
	box-shadow: none;
	background: transparent!important;
}

.change-icon-overlay {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.skin-item-overlay {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.add-friend-overlay {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.spell-selection-overlay {
	position: absolute;
	top: 38%;
	left: 14.5%;
	transform: translate(-50%, -50%);
}
/*#endregion */
