<div class="container-fluid m-0 bg-light">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-3">
          <a href=""><img src="../../../assets/diet-food-fruit-svgrepo-com.svg" alt="" width="75"></a>
        </div>
        <div class="col-9">
          <div class="w-100 h-100 d-flex flex-row justify-content-between align-items-center p-2">
            <a href="" class="text-decoration-none"><h4>Home</h4></a>
            <a href="" class="text-decoration-none"><h4>Altar</h4></a>
            <a href="" class="text-decoration-none"><h4>Library</h4></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="offset-3 col-6 p-2">
        <button class="w-100 bg-success p-3 border border-success shadow rounded text-white">READY</button>
      </div>
    </div>
    <div class="col-4 bg-primary">

    </div>
  </div>
</div>
