<div class="container-fluid gx-0">
  <div class="row">
    <div class="col-8">
      <div class="d-flex flex-column gap-4 h-100">
        <div class="px-2 py-4 border border-1 border-color rounded-1" style="background-color: #080e1c;">
          <div class="stat-grid">
            <div class="stat">
              <i class="fa-solid fa-trophy fa-fw" style="color: #ffa200"></i>
              <p class="mb-0 player-stat">{{player.matchWins}}</p>
              <p class="mb-0">Wins</p>
            </div>
            <div class="stat">
              <i class="fa-solid fa-skull fa-fw" style="color: #f10000;"></i>
              <p class="mb-0 player-stat">{{player.matchLosses}}</p>
              <p class="mb-0">Losses</p>
            </div>
            <div class="stat">
              <i class="fa-solid fa-scale-unbalanced fa-fw" style="color: #ad997d;"></i>
              <p class="mb-0 player-stat">{{player.matchWins / player.matchLosses}}</p>
              <p class="mb-0">Winrate</p>
            </div>
            <div class="stat">
              <i class="fa-solid fa-hand-fist fa-fw" style="color: #d9a489;"></i>
              <p class="mb-0 player-stat">{{player.matchWins + player.matchLosses}}</p>
              <p class="mb-0">Matches</p>
            </div>
            <div class="stat">
              <i class="fa-solid fa-clock fa-fw" style="color: #b1b7bc;"></i>
              <p class="mb-0 player-stat">{{toHoursAndMinutes(player.timePlayedMin)}}</p>
              <p class="mb-0">Time played</p>
            </div>
            <div class="stat">
              <i class="fa-solid fa-ranking-star fa-fw" style="color: #ffba57;"></i>
              <p class="mb-0 player-stat">#1</p>
              <p class="mb-0">Rank</p>
            </div>
          </div>
        </div>
        <div class="border border-1 border-color rounded-1 px-3 h-100" style="background-color: #071220; padding-top: 11px;"> <!-- DEVBLOG -->
          <div class="border border-1 border-color overflow-hidden position-relative" style="background-color: #080e1c; height: 415px;">
            <div class="d-flex flex-column p-3 gap-3 devblog-tab position-absolute">
              <div class="d-flex flex-row gap-3" *ngFor="let devblog of devblogItems">
                <img [src]="devblog.imageLocation" alt="" width="100" height="100">
                <div class="wrapper">
                  <h4 class="text-primary">{{devblog.title}}</h4>
                  <p class="text-white">{{devblog.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-3 pt-5 d-flex justify-content-center">
            <button class="btn btn-primary">Our Github</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 h-100">
      <div class="d-flex flex-column gap">
        <div class="border border-1 border-color rounded-1 p-2" *ngFor="let item of featuredItems" style="background-color: #071220;">
          <p class="mb-0 text-white">FEATURED ITEM</p>
          <div class="row p-2 gx-0 border border-1 border-color rounded-1" style="background-color: #080e1c;">
            <div class="col-2">
              <img [src]="item.imageName" alt="" height="120px" width="80px" class="border border-1 border-color">
            </div>
            <div class="offset-2 col-6 d-flex flex-column justify-content-between">
              <p class="mb-0 text-white">{{item.skinName}}</p>
              <div class="d-flex flex-row gap-2 text-white">
                <i class="fa-solid fa-capsules ps-2 pt-1" style="color: #50b3da;"></i>
                <p class="mb-0">{{item.skinPrice}}</p>
              </div>
              <div class="wrapper">
                <div class="d-flex flex-row gap-2">
                  <button class="btn btn-primary w-100 p-0 pt-1" (click)="openSkin(item)">INFO</button>
                  <button class="btn btn-primary w-100 p-0 pt-1" [disabled]="isOwned(item.skinID)">UNLOCK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
