:host {
	margin: 1rem;
	position: relative;
}

p {
	margin: 0;
}


.scroll {
	background-image: url(../../../../assets/Scroll.png);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	width: 50%;
	height: calc(967px / 1.5);
	background-size: contain;
	background-position: 50% 10px;
	background-repeat: no-repeat;
}

.table {
	background-image: url(../../../../assets/wood-texture-wood-planks-background-and-old-wood-free-photo.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
}
