<div class="position-fixed chat-box">
  <div class="d-flex flex-column flex">
    <div class="header d-flex align-items-center">
      <img src="../../../../assets/alex.png" alt="" id="logo" class="px-1">
      <span class="text-white">Username</span>
      <div class="d-flex justify-content-end w-100">
        <i class="fa-solid fa-minus pe-2" style="color: gray"></i>
      </div>
    </div>
    <div class="content px-2 py-1">
      <span id="infoWarning">Please remember not to share your email or password with friends or game employees.</span>
      <div class="d-flex flex-column gap-2">
      </div>
    </div>
    <input id="chatInput" class="w-100 outline-0 bg-transparent text-white" type="text" height="30px" placeholder="Indtast text">
  </div>
</div>
