.chat-box .header {
  border: 2px solid #5f5434;
  height: 45px;
}

.chat-box img {
  height: 35px;
}

.chat-box .content {
  height: 325px;
  border: 2px solid #5f5434;
  border-top: 0;
  border-bottom: 0;
}

.chat-box input {
  border: 2px solid #5f5434;
}

#infoWarning {
  font-size: 12px;
  opacity: .6;
}
