.wrapper {
  position: relative;
  height: calc(100vh - 106px);
  padding: 0px 10px 26px 10px;
  display: grid;
  grid-template-columns: 0px 85% 15%;
}

.with-chat {
	grid-template-columns: 0px 100% 0px!important;
}
