.page {
	width: 685px;
	height: 460px;
	padding: 5px;
	z-index: 1;
}

.left {
	transform-origin: 100%;
	box-shadow: -5px 0px 12px 0px black inset;
	width: 50%;
	padding: 1.5rem;
	background-image: url(../../../../../assets/page-texture-left.jpg);
	background-size: cover;
	background-position: center;
}

.right {
	transform-origin: 0;
	box-shadow: 5px 0px 12px 0px black inset;
	width: 50%;
	padding: 1.5rem;
	background-image: url(../../../../../assets/page-texture-right.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.right > img {
	float: right;
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

h1 {
	text-align: center;
	color: black;
}

p {
	color: #696969;
	font-size: 16px;
	text-align: center;
}

/* #region next */

.active-mid-to-left {
	z-index: 6;
	opacity: 0;
	animation: active-mid-to-left .25s ease-out .25s forwards
}

.inactive-right-to-mid {
	z-index: 6;
	opacity: 1;
	animation: inactive-right-to-mid .25s ease-in 0s forwards
}

.inactive-left-side {
	z-index: 5;
	animation: inactive-left-side .25s linear .25s forwards
}

@keyframes active-mid-to-left {
	0% 		{	opacity: 1;	transform: rotateY(90deg); z-index: 1; }
	100% 	{ 	opacity: 1; transform: rotateY(0deg); z-index: 5; }
}

@keyframes inactive-right-to-mid {
	0% 		{	opacity: 1; transform: rotateY(0deg);}
	99% 	{	opacity: 1;	}
	100% 	{  	opacity: 0; transform: rotateY(90deg);}
}

@keyframes inactive-left-side {
	0% 		{	opacity: 1;	}
	99% 	{	opacity: 1;	}
	100% 	{	opacity: 0;	}
}
/* #endregion */


/* #region previous */
.active-mid-to-right {
	z-index: 6;
	opacity: 0;
	animation: active-mid-to-right .25s ease-out .25s forwards
}

.inactive-left-to-mid {
	z-index: 6;
	opacity: 1;
	animation: inactive-left-to-mid .25s ease-in 0s forwards
}

.inactive-right-side {
	z-index: 5;
	animation: inactive-right-side .25s linear .25s forwards
}


@keyframes inactive-left-to-mid {
	0% 		{	opacity: 1; transform: rotateY(0deg);}
	99% 	{	opacity: 1;	}
	100% 	{  	opacity: 0; transform: rotateY(90deg);}
}

@keyframes active-mid-to-right {
	0% 		{	opacity: 1;	transform: rotateY(90deg);}
	100% 	{ 	opacity: 1; transform: rotateY(0deg);}
}

@keyframes inactive-right-side {
	0% 		{	opacity: 1;	}
	99% 	{	opacity: 1;	}
	100% 	{	opacity: 0;	}
}

/* #endregion  */
/* #region page */

.active-page {
	z-index: 5;
}

.inactive {
	visibility: hidden;
}

.inactive-page {
	z-index: 6;
	animation: inactive-page .25s linear forwards;
}

@keyframes inactive-page {
	0% 		{	z-index: 6;	}
	99% 	{	z-index: 6;	}
	100% 	{	z-index: 4;	}
}

/* #endregion */
