<div class="w-100 text-white position-relative border border-3 rounded" style="background-color: #0d1a22; border-color: #0d1a22!important" *ngIf="friendListOpen">
	<div class="d-flex flex-row justify-content-between p-1 ">
		<div class="d-flex flex-row gap-1">
			<img [src]="player.icon.iconName" alt="" width="54" height="54">
			<span class="fs-4 lh-1 align-self-end">{{player.playerName}}</span>
		</div>
		<div class="d-flex flex-column align-self-end align-content-between justify-content-end gap-3 h-100">
			<i class="fa-solid fa-circle fs-5" [ngClass]="currentStatus"></i>
		</div>
	</div>
	<div class="d-flex flex-column gap-1 p-1 position-relative">
		<i class="fa fa-search fa-flip-horizontal position-absolute"></i>
		<input type="text" id="searchFriend" #text class="w-100 outline-0 text-white shadow" (keyup)="searchFriends(backupFriends, text.value)" placeholder="Filter friends list">
	</div>
	<div class="p-1 overflow-hidden">
		<div class="d-flex flex-column chat-tab"> <!-- Chat TAB -->
			<div class="d-flex flex-row gap-3 ps-1 cursor-pointer tab-title" *ngIf="pendingFriends.length > 0" (click)="isPendingOpen = !isPendingOpen">
				<i *ngIf="isPendingOpen" class="fa-solid fa-minus align-self-center"></i>
				<i *ngIf="!isPendingOpen" class="fa-solid fa-plus align-self-center"></i>
				<span>PENDING REQUESTS</span>
			</div>
			<ng-container *ngIf="isPendingOpen">
				<div class="d-flex flex-row gap-1 position-relative friend-background " *ngFor="let pendingFriend of pendingFriends">
					<img [src]="pendingFriend.icon.iconName" alt="" width="48" height="48">
					<div class="d-flex flex-column flex-grow-1">
						<span>{{pendingFriend.playerName}}</span>
					</div>
					<i class="fa-solid fa-check position-absolute online-status cursor-pointer fa-fw" (click)="acceptFriend(pendingFriend)" style="bottom: 5px; right: 5px;"></i>
					<i class="fa-solid fa-xmark position-absolute offline-status cursor-pointer fa-fw" (click)="removeFriend(pendingFriend)" style="bottom: 5px; right: 35px;"></i>
    			</div>
			</ng-container>
			<div class="d-flex flex-row gap-3 ps-1 cursor-pointer tab-title" (click)="isFriendTabOpen = !isFriendTabOpen">
				<i *ngIf="isFriendTabOpen" class="fa-solid fa-minus align-self-center"></i>
				<i *ngIf="!isFriendTabOpen" class="fa-solid fa-plus align-self-center"></i>
				<span>FRIENDS ({{currentOnline}}/{{this.friends.length}})</span>
			</div>
			<ng-container *ngIf="isFriendTabOpen">
				<div class="d-flex flex-row gap-1 position-relative friend-background cursor-pointer" *ngFor="let playerFriend of friends">
					<img [ngClass]="{'offline-icon': playerFriend.playerStatus === 'Offline'}" [src]="playerFriend.icon.iconName" alt="" width="48" height="48" (click)="openMessages(playerFriend)">
					<div class="d-flex flex-column flex-grow-1" (click)="openMessages(playerFriend)">
						<span [ngClass]="{'offline-status': playerFriend.playerStatus === 'Offline'}">{{playerFriend.playerName}}</span>
    	  		  		<span [ngClass]="{'offline-status': playerFriend.playerStatus === 'Offline', 'text-warning' : playerFriend.playerStatus === 'Away', 'text-success': playerFriend.playerStatus === 'Online' }">{{playerFriend.playerStatus}}</span>
					</div>
					<i class="fa-solid fa-user-slash position-absolute" (click)="removeFriend(playerFriend)" title="Remove friend"></i>
					<i class="fa-solid fa-circle position-absolute" id="statusBtn" [ngClass]="{'offline-status': playerFriend.playerStatus === 'Offline', 'away-status' : playerFriend.playerStatus === 'Away', 'online-status': playerFriend.playerStatus === 'Online' }"></i>
    			</div>
			</ng-container>
    	</div>
		<div class="d-flex flex-row justify-content-center align-items-center add-friend-container">
			<button id="addFriendBtn" (click)="openAddFriend()">Add Friend</button>
		</div>
	</div>
</div>


<chat-box [friend]="friend" [playerId]="playerId" [chatWindow]="isChatWindowOpen" (closedChatWindow)="toggleChatWindow()"></chat-box>

<div class="position-fixed chat-btn-container">
  <div class="d-flex gap-1">
    <button class="chatBtn h-100 w-100" (click)="toggleChatWindow()"><i class="fa-solid fa-message"></i></button>
    <button class="chatBtn h-100 w-100" (click)="toggleFriendList()"><i class="fa-solid fa-user-group"></i></button>
  </div>
</div>
