:host {
	margin: 1rem;
}


.stat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 2em;

}

.gap {
	gap: 1.8rem;
}

.stat {
  text-align: center;
  color: darkgray;
}

.player-stat {
  color: white;
}

.border-color {
  border-color: #202c38!important;
}

.devblog-tab {
  overflow-y: auto;
  overflow-x: hidden;
  right: -17px;
  top: 0;
  left: 0;
  bottom: 0;
}

i {
  font-size: 20px;
  margin-bottom: .6em;
}
