.container-fluid {
  background-color: rgba(15, 20, 38, .95)
}

.flex-even {
  flex: 1;
}

/* HUSK AT FJERN */

.content {
  height: 200px;
}


.footer {
  height: 52px;
}



.icon-grid {
  display: grid;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  grid-template-columns: repeat(5, 1fr);
  gap: .375em;
}

.btn:focus-visible {
  box-shadow: none!important;
}

.active-icon {
  border: 3px solid gold!important;
}
